body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .container {
    max-width: 800px;
    background-color: #faf9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
  }
  
  h1 {
    color: #333;
    text-align: center;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    color: #020000;
  }
  
  input {
    width: calc(100% - 12px);
    padding: 8px;
    margin-bottom: 16px;
  }
  
  button {
    background-color: #020507;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    background-color: #4b02f7;
  }
  
  .table-box {
    overflow: auto;
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
  }
  
  th {
    background-color: #010501;
    color: white;
  }
  
  tbody tr:nth-child(odd) {
    background-color: #d9edf7;
  }
  
  tbody tr:nth-child(even) {
    background-color: #b9def0;
  }
  
  tbody tr:hover {
    background-color: #aedcff;
  }
  